:local(#header){
    width: 100%;
    
    background: #444;
    font-size: 14px;
    .head{
        width: 1200px;
        margin: 0 auto;
        height: 50px;
        .logo{
            display: inline-block;
            width: 120px;
            height: 28px;
            background-image:url(../../assets/logo.svg);
            background-position: center;
            background-repeat: no-repeat; 
            margin-right: 20px;
            vertical-align: middle;
            margin-top: 8px;
        }
        .search{
            display: inline-block;
            background-image: url(../../assets/search.png);
            background-position: 8px center;
            background-repeat: no-repeat;
            background-color:  #888;
            padding: 4px 20px 4px 30px;
            color: #666;
            border: 0;
            box-shadow: none;
            border-radius: 15px;
            width: 260px;
            font-size: 14px;
            vertical-align: middle;
            margin-top: 12px;
        }
    }
}