/* reset.css */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: ' Microsoft YaHei UI', '微软雅黑', 'PingFang SC', 'Heiti SC', ' Droid Sans';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

a,
button,
input {
    -webkit-tap-highlight-color: transparent;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}
